:root{
    --gradient-components: linear-gradient(270deg, rgb(19, 173, 199) 0%, rgb(148, 93, 214) 100%);
    --gradient-components-hover: linear-gradient(270deg, #4cc3d8 0%, rgb(180, 131, 239) 100%);
    --gradient-Titles: linear-gradient(to right, #ffffff, #c5c5c5 , #868686, #686868, #434343);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(15, 22, 36);
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
}
