h1{
    background: var( --gradient-Titles);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

.ProfilePic{
    height: 8rem;
    border-radius: 5rem;
}

span{
    color: white;
}

.infoCard{
    border: 5px solid;
    border-radius: 50px 0;
   display: inline-block;
    width: 30%;
    padding: 2rem;
}
.sectionDivider{
    width: 4rem;
    height: 0.375rem;
    border-radius: 0.625rem;
    background: var( --gradient-components);
}